<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>

<body>
    <div class="content">
        <h1>{{cliente.nome}}</h1>
        <li>{{cliente.nome}}</li>
        <li>{{cliente.email}}</li>
        <li>{{cliente.data_nascimento}}</li>
        <li>{{cliente.profissao}}</li>
        <li><a href="{% url 'app:update_cliente' cliente.id %}">Editar</a></li>
        <li><a href="{% url 'app:lista_clientes' %}">Voltar</a></li>
    </div>
</body>

</html>